body {
  background-color: #eb8242;
}

h1 {
  font-family: "Pacifico";
  font-size: 72px;
  color: #f6da63;
}

h2 {
  font-family: "Montserrat";
  color: #9d0b0b;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  color: #da2d2d;
}

p {
  font-family: "Montserrat";
  color: #da2d2d;
}

label {
  font-family: "Montserrat";
  color: #da2d2d;
}

hr {
  border-color: #da2d2d;
  border-style: dotted none none;
  height: 0;
  width: 10%;
  border-width: 8px;
  margin: 30px auto;
}

.jumbotron {
  background-color: #9d0b0b;
  text-align: center;
}

.card-header {
  font-family: "Pacifico";
}

.card {
  background-color: #f6da63;
}

.row {
  text-align: center;
}

.size-radios {
  text-align: center;
}

#buttons {
  text-align: center;
  margin-top: 15px;
}

#price-footer {
  text-align: center;
  background-color: #9d0b0b;
  display: none;
}

#second-pizza-form {
  padding-top: 25px;
  display: none;
}

.total-dollars, .dollar-sign {
  color: #f6da63;
}